<label for="firstname">Vorname</label>
<input id="firstname" type="text" class="form-control" placeholder="{{employee.firstName}}" readonly>
<label for="lastName">Nachname</label>
<input id="lastName" type="text" class="form-control" placeholder="{{employee.lastName}}" readonly>
<label for="userName">Benutzername</label>
<input id="userName" type="text" class="form-control" placeholder="{{employee.userName}}" readonly>
<label for="password">Passwort</label>
<input id="password" type="password" class="form-control" id="inputPassword2" placeholder="{{employee.password}}" readonly>
<a routerLink="/"><button type="button" class="btn btn-success">Zurück</button></a>
